/* .dashboard {
  height: 100%;
  .stage-container {
    position: relative;
    height: 100%;
    canvas {
      width: 800px;
      height: 600px;
      padding: 20px;

      position: absolute;
      top: 50%;
      left: 50%;

      margin: -70px 0 0 -170px;

    }
  }
}
 */
